<form action="/editblog/<%= blog._id %>?_method=PUT" method="post" class="add-blog-form">

    <label>Author</label>
    <input type="text" name="author" value="<%= user.name %>" readonly>

    <label>Title</label>
    <input type="text" name="title" value="<%= blog.title %>">

    <label>Content</label>
    <textarea name="content" rows="10"><%= blog.content %></textarea>

    <label>Tags</label>
    <input type="text" name="tags" value="<%= blog.tags.join(', ') %>">

    <button type="submit">Update Blog</button>
</form>
