<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Manager</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="blog-container">
        <% for (let b of blog) { %>
            <a href="/blogs/views/<%= b.id %>">
            <div class="blog-item">
                <div>
                    <h2>
                        <%= b.title %>
                    </h2>
                </div>
                <div class="blog-author-info">
                    <p class="blog-author-name">
                        <%= b.author %> | <span class="blog-author-date">
                                <%= new Date(b.createdAt).toLocaleDateString('en-US', { month: 'short' , day: '2-digit'
                                    , year: 'numeric' }) %>
                            </span>
                    </p>
                </div>
                <p class="blog-content">
                    <%= b.content %>
                </p>
                <p>
                    <span class="views-count">
                        👁️ <%= b.views %>
                            <%= b.views===1 ? 'view' : 'views' %>
                    </span><span class="likes-count">👍 <%= b.likes %>
                            <%= b.likes===1 ? 'like' : 'likes' %></span>
                </p>
            </div>
            </a>

            <% } %>
    </div>
</body>

</html>


<!-- <% for (let b of blog) { %>
        <h2><%= b.title %></h2>
        <p><%= b.content %></p>
        <p><%= b.createdAt %></p>
        <p><%= b.updatedAt %></p>
        <p><%= b.views %></p>
        <p><%= b.likes %></p>
        <p><%= b.tags %></p>
        <p><%= b.status %></p>
    <% } %> -->